absl-py
appdirs
black
cachetools
certifi
charset-normalizer
click
contourpy
cycler
docker-pycreds
docstring-parser
fonttools
fsspec
fvcore
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
h5py
idna
iopath
isort
joblib
jsonargparse
kiwisolver
lightning-bolts
Markdown
MarkupSafe
matplotlib
mypy-extensions
numpy
oauthlib
packaging
pathspec
pathtools
Pillow
pip-autoremove
pipdeptree
platformdirs
portalocker
protobuf
psutil
pyasn1
pyasn1-modules
pyDeprecate
pyparsing
python-dateutil
pytorch-lightning
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@2bd65027ca5c3b87b77d4f05b8eacae58d8d106f
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
sentry-sdk
setproctitle
six
smmap
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
threadpoolctl
timm
tomli
torch
torchmetrics
torchvision
tqdm1
typing_extensions
urllib3
wandb
Werkzeug
yacs
